<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdds.mapper.RecipientsMapper">
	 <select id="findAllActivities" resultType="org.tdds.entity.Activities">
	 	select id as id,name as name,logo_url as logoUrl from test_activities where id>0;
	 </select>
</mapper>
