<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdds.mapper.RunningRecordMapper">
	<!-- 单表查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.tdds.entity.RunningRecord">
	</resultMap>
    <!-- 单表查询结果列 -->
    <sql id="Base_Column_List">
    </sql>
       <select id="findRunningData" resultType="java.lang.Double">
		SELECT
			 IFNULL(sum(timediff),0)
		FROM znzz_running_record
		WHERE
		 <choose>
		 	<when test="map.date!=null and map.date!=''">
		 		 DATE(start_time) =#{map.date} 
		 	</when>
		 	<otherwise>
		 		DATE(start_time) =CURRENT_DATE
		 	</otherwise>
		 </choose>
		 <if test="map.machineId!=null and map.machineId!=''">
		  	AND machine_id =#{map.machineId}
		 </if>
    </select>
    <select id="exportData" resultType="map">
			 SELECT 
				machine_name as sbmc,
				maintenance_signal as whxh,
				partsCount_target as jgmbz,
				partsCount_result as jgssz,
				override_rapid as kjbl,
				override_spindle as zzbl,
				override_feed as qxbl,
				spindle_mode as zzms,
				start_time as kssj,
				end_time as jssj,
				timediff as timediff
			FROM znzz_running_record
			where  id &gt; 0
			<if test="filter.startTime!=null and filter.startTime!='' and filter.endTime!=null and filter.endTime!=''">
			    AND DATE(start_time) BETWEEN #{filter.startTime} AND #{filter.endTime}
			</if>
			<if test="filter.machineName!=null and filter.machineName!=''">
				AND machine_name=#{filter.machineName}
			</if>
			<if test="filter.timediff!=null and filter.timediff!=0">
				AND timediff BETWEEN 0 AND #{filter.timediff}
			</if>
      </select>
      <select id="findTimeLineTimes" resultType="java.lang.String">
		SELECT DISTINCT
			DATE_FORMAT(record_time,'%Y-%m-%d %H:%i')
		FROM
			znzz_running_record 
		WHERE
			machine_id = #{machineId}
			AND
			DATE(record_time) =CURRENT_DATE
      </select>
      <select id="findRankData" resultType="java.lang.Double">
		SELECT
			IFNULL(sum(timediff),0) 
		FROM
			znzz_running_record 
		WHERE
			machine_id = #{machineId}
			AND date( start_time ) = CURRENT_DATE 
			AND DATE( end_time ) = CURRENT_DATE 
    </select>
     <select id="findAllRecordsByMachineId" resultType="map">
	 	SELECT
	 		'运行' as 'name',
	 		'12b07b' as color,
			 DATE_FORMAT(start_time,'%H:%i:%s')  as startTime,
			 DATE_FORMAT(end_time,'%H:%i:%s') as end_time,
			 IFNULL(TIMESTAMPDIFF(MINUTE,start_time,end_time),0)  as diff
		FROM znzz_machine
		WHERE machine_id=#{machineId}
		AND
		DATE(start_time) =CURRENT_DATE
		AND
		DATE(end_time)=CURRENT_DATE
    </select>
 	<select id="findTimeDiffByFilters" resultType="java.lang.Double">
	 	 SELECT 
				IFNULL(sum(timediff),0)
			FROM znzz_running_record
			where  id &gt; 0
			<if test="filter.startTime!=null and filter.startTime!='' and filter.endTime!=null and filter.endTime!=''">
			    AND start_time BETWEEN #{filter.startTime} AND #{filter.endTime}
			    AND end_time BETWEEN #{filter.startTime} AND #{filter.endTime}
			</if>
			<if test="filter.machineName!=null and filter.machineName!=''">
				AND machine_name=#{filter.machineName}
			</if>
			<if test="filter.timediff!=null and filter.timediff!=0">
				AND timediff BETWEEN 0 AND #{filter.timediff}
			</if>
    </select>
   	<select id="findTimeArrays" resultType="map">
		SELECT
			DATE_FORMAT(start_time, '%Y-%m-%d %H:%i:%s') AS sTime,
    		DATE_FORMAT(end_time, '%Y-%m-%d %H:%i:%s') AS eTime,
			timediff AS td,
			'#12b07b' AS color
		FROM
			znzz_running_record 
		WHERE
			machine_id = #{machineId}
		AND
			 DATE(start_time) = CURRENT_DATE
    </select>
    <delete id="deleteRepeat">
		DELETE FROM 
			znzz_running_record 
		WHERE
		ABS(TIMESTAMPDIFF(MINUTE,start_time,'#{startTime}')) &lt; 5
		AND machine_id = #{machineId}
    </delete>
    <select id="selectRepeatCount" resultType="java.lang.Integer">
		SELECT 
			count(id)
		FROM 
		 	znzz_running_record
	 	WHERE 
	 		machine_id=#{machineId}
	 	AND  
	 		ABS(TIMESTAMPDIFF(MINUTE,start_time,'#{startTime}')) &lt; 5
    </select>
</mapper>
