<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdds.mapper.WaitingRecordMapper">
	<!-- 单表查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.tdds.entity.WaitingRecord">
	</resultMap>
    <!-- 单表查询结果列 -->
    <sql id="Base_Column_List">
    </sql>
 	 <select id="findWaittingData" resultType="java.lang.Double">
		SELECT
			IFNULL(sum(timediff),0)
		FROM znzz_waiting_record
		WHERE
	 	<choose>
		 	<when test="map.date!=null and map.date!=''">
		 		DATE(start_time) =#{map.date} 
		 	</when>
		 	<otherwise>
		 		DATE(start_time) =CURRENT_DATE
		 	</otherwise>
		 </choose>
		<if test="map.machineId!=null and map.machineId!=''">
		  	AND machine_id =#{map.machineId}
		 </if>
    </select>
     <select id="findAllRecordById" resultType="map">
     		SELECT id as id, record_time as recordTime
			FROM znzz_waiting_record where machine_id=#{id};
     </select>
    <select id="exportData" resultType="map">
			 SELECT 
				machine_name as sbmc,
				maintenance_signal as whxh,
				partsCount_target as jgmbz,
				partsCount_result as jgssz,
				override_rapid as kjbl,
				override_spindle as zzbl,
				override_feed as qxbl,
				spindle_mode as zzms,
				start_time as kssj,
				end_time as jssj,
				timediff as timediff
			FROM znzz_waiting_record
			where  id &gt; 0
			<if test="filter.startTime!=null and filter.startTime!='' and filter.endTime!=null and filter.endTime!=''">
			    AND DATE(start_time) BETWEEN #{filter.startTime} AND #{filter.endTime}
			</if>
			<if test="filter.machineName!=null and filter.machineName!=''">
				AND machine_name=#{filter.machineName}
			</if>
			<if test="filter.timediff!=null and filter.timediff!=0">
				AND timediff BETWEEN 0 AND #{filter.timediff}
			</if>
      </select>
		<select id="findAllRecordsByMachineId" resultType="map">
		 	SELECT
		 		'等待' as 'name',
		 		'feb501' as color,
				 DATE_FORMAT(start_time,'%H:%i:%s')  as startTime,
				 DATE_FORMAT(end_time,'%H:%i:%s') as end_time,
				 IFNULL(TIMESTAMPDIFF(MINUTE,start_time,end_time),0)  as diff
			FROM znzz_waiting_record
			WHERE machine_id=#{machineId}
			AND
			DATE(start_time) =CURRENT_DATE
			AND
			DATE(end_time)=CURRENT_DATE
	    </select>
		<select id="findTimeDiffByFilters" resultType="java.lang.Double">
			SELECT
				IFNULL(sum(timediff),0)
			FROM znzz_waiting_record
			WHERE  id &gt; 0
			<if test="filter.startTime!=null and filter.startTime!='' and filter.endTime!=null and filter.endTime!=''">
			    AND DATE(start_time) BETWEEN #{filter.startTime} AND #{filter.endTime}
			</if>
			<if test="filter.machineName!=null and filter.machineName!=''">
				AND machine_name=#{filter.machineName}
			</if>
			<if test="filter.timediff!=null and filter.timediff!=0">
				AND timediff BETWEEN 0 AND #{filter.timediff}
			</if>
		</select>
		
		<select id="findTimeArrays" resultType="map">
			SELECT
				DATE_FORMAT(start_time, '%Y-%m-%d %H:%i:%s') AS sTime,
    			DATE_FORMAT(end_time, '%Y-%m-%d %H:%i:%s') AS eTime,
				timediff AS td,
				'#feb501' AS color
			FROM
				znzz_waiting_record 
			WHERE
				machine_id = #{machineId}
			AND start_time &gt; DATE_SUB(NOW(), INTERVAL 60 MINUTE);
		</select>
		
		<delete id="deleteRepeat">
		DELETE FROM 
		 	znzz_waiting_record 
	 	WHERE 
	 		machine_id=#{machineId}
	 	AND  
	 		DATE_FORMAT(start_time,'%Y-%m-%d %H:%i')=DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i');
    </delete>
    <select id="selectRepeat" resultType="java.lang.Integer">
		SELECT 
			count(id)
		FROM 
		 	znzz_waiting_record
	 	WHERE 
	 		machine_id=#{machineId}
	 	AND  
	 		DATE_FORMAT(start_time,'%Y-%m-%d %H:%i')=DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i');
    </select>
</mapper>
