<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdds.mapper.WarningRecordMapper">
	<!-- 单表查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.tdds.entity.WarningRecord">
	</resultMap>
    <!-- 单表查询结果列 -->
    <sql id="Base_Column_List">
    </sql>
 	    <select id="findAlarmData" resultType="java.lang.Double">
		SELECT
			 IFNULL(sum(timediff),0)
		FROM znzz_warning_record
		WHERE
		 <choose>
		 	<when test="map.date!=null and map.date!=''">
		 		 DATE(start_time) =#{map.date} 
		 	</when>
		 	<otherwise>
		 		DATE(start_time) =CURRENT_DATE
		 	</otherwise>
		 </choose>
		 <if test="map.machineId!=null and map.machineId!=''">
		  	AND machine_id =#{map.machineId}
		 </if>    
	</select>
    
     <select id="findAllRecordById" resultType="map">
     		SELECT id as id, record_time as recordTime
			FROM znzz_warning_record where machine_id=#{id};
     </select>
     <select id="findPieData" resultType="java.lang.Double">
	 	SELECT
			IFNULL(TIMESTAMPDIFF(SECOND,MIN(record_time),MAX(record_time)),0)  AS timed
		FROM znzz_warning_record
		WHERE machine_id =#{id}
		AND DATE(record_time) =CURRENT_DATE
    </select>
	<select id="findLineData" resultType="java.lang.Double">
		SELECT
			IFNULL(TIMESTAMPDIFF(SECOND,MIN(record_time),MAX(record_time)),0)  AS timed
		FROM znzz_warning_record
		WHERE machine_id =#{id}
		AND DATE(record_time) =#{str}
	</select>
	<select id="exportData" resultType="map">
		 SELECT 
			machine_name as sbmc,
			alarm_no as bjbh,
			alarm_message as bjxx,
			start_time as kssj,
			end_time as jssj,
			timediff as timediff
		FROM znzz_warning_record
		where  id &gt; 0
		<if test="filter.startTime!=null and filter.startTime!='' and filter.endTime!=null and filter.endTime!=''">
		    AND DATE(start_time) BETWEEN #{filter.startTime} AND #{filter.endTime}
		</if>
		<if test="filter.machineName!=null and filter.machineName!=''">
			AND machine_name=#{filter.machineName}
		</if>
		<if test="filter.timediff!=null and filter.timediff!=0">
			AND timediff BETWEEN 0 AND #{filter.timediff}
		</if>
	</select>
    <select id="selectWarningRecords" resultType="map">
		SELECT
			T1.machine_name AS machineName,
			T2.mcode AS machineCode,
			T2.type AS mtype,
			T1.record_time AS recordTime,
			T1.alarm_no AS alarmNo,
			T1.alarm_message AS alarmMessage
		FROM
			znzz_warning_record T1
			LEFT JOIN (
			SELECT
				m1.id AS id,
				m1.`code` AS mcode,
				m2.`name` AS type 
			FROM
				znzz_machine m1
				LEFT JOIN sys_option m2 ON m1.type = m2.id 
			) T2 ON T1.machine_id = T2.id 
		WHERE DATE(record_time) =CURRENT_DATE
		ORDER BY
			record_time DESC
	</select>
  	<select id="findAllRecordsByMachineId" resultType="map">
	 	SELECT
	 		'报警' as 'name',
	 		'e65a65' as color,
			 DATE_FORMAT(start_time,'%H:%i:%s')  as startTime,
			 DATE_FORMAT(end_time,'%H:%i:%s') as end_time,
			 IFNULL(TIMESTAMPDIFF(MINUTE,start_time,end_time),0)  as diff
		FROM znzz_warning_record
		WHERE machine_id=#{machineId}
		AND
		DATE(start_time) =CURRENT_DATE
		AND
		DATE(end_time)=CURRENT_DATE
    </select>
    <select id="findTimeDiffByFilters" resultType="java.lang.Double">
	 	SELECT 
			 IFNULL(SUM(timediff),0)
		FROM znzz_warning_record
		where  id &gt; 0
		<if test="filter.startTime!=null and filter.startTime!='' and filter.endTime!=null and filter.endTime!=''">
		    AND DATE(start_time) BETWEEN #{filter.startTime} AND #{filter.endTime}
		    AND DATE(end_time) BETWEEN #{filter.startTime} AND #{filter.endTime}
		</if>
		<if test="filter.machineName!=null and filter.machineName!=''">
			AND machine_name=#{filter.machineName}
		</if>
		<if test="filter.timediff!=null and filter.timediff!=0">
			AND timediff BETWEEN 0 AND #{filter.timediff}
		</if>
    </select>
    <select id="findTimeArrays" resultType="map">
	 	SELECT
			DATE_FORMAT(start_time, '%Y-%m-%d %H:%i:%s') AS sTime,
    		DATE_FORMAT(end_time, '%Y-%m-%d %H:%i:%s') AS eTime,
			timediff AS td,
			'#e65a65' AS color
		FROM
			znzz_warning_record 
		WHERE
			machine_id = #{machineId}
		AND
			 DATE(start_time) = CURRENT_DATE
    </select>
     <delete id="deleteRepeat">
		DELETE FROM 
			znzz_warning_record 
		WHERE
		ABS(TIMESTAMPDIFF(MINUTE,start_time,'#{startTime}')) &lt; 5
		AND machine_id = #{machineId}
    </delete>
    <select id="selectRepeat" resultType="java.lang.Integer">
		SELECT 
			count(id)
		FROM 
		 	znzz_warning_record
	 	WHERE 
	 		machine_id=#{machineId}
	 	AND  
	 		ABS(TIMESTAMPDIFF(MINUTE,start_time,'#{startTime}')) &lt; 5
    </select>
</mapper>
