@CHARSET "UTF-8";
body{
	background:url(/themes/website/images/wdx/wdsbg.jpg);
	height:100%;
	width:100%;
	background-size:cover;
	/* overflow:hidden; */
}
.label {
	display: inline-block;
	padding: .5em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 10px;
	color: #36b0f3;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	width: 379px;
	height: 25px;
	border-radius: 0;
	box-shadow:0px 3px 3px #2577aa inset;
	transform: perspective(20px) scaleY(1.3) rotateX(-5deg);
	-webkit-box-shadow:0px 3px 3px #2577aa inset;
	-moz-box-shadow:0px 3px 3px #2577aa inset;
	letter-spacing: 5px
}

.label-default {
	background-color: #0916389e;
	position: relative;
	left: 29%;
	top: 5px;
	/* border:3px solid #2577aa; */
}
.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	height: 39%;
	cursor: pointer;
	background-image: none;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 10px;
}

.circle{
	display:inline-block;
	border-radius:50%;
	height:60px;
	width:60px;
	text-align:center;
	line-height:53px;
	position:absolute;
	color:#FFF0FF;
	background:#07070a69;
}

.circle-running{
	border:5px solid #12b07b;
}
.circle-poweroff{
	border:5px solid #a6a5a5;
}
.circle-alarm{
	border:5px solid #e65a65;
}
.circle-waiting{
	border:5px solid #feb501;
}

.circle-manual{
	border:5px solid #feb501;
}

@keyframes fade {
	from {
	    opacity: 1.0;
	}
	50% {
	    opacity: 0.4;
	}
	to {
	    opacity: 1.0;
	}
}

@-webkit-keyframes fade {
	from {
	    opacity: 1.0;
	}
	50% {
	    opacity: 0.6;
	}
	to {
	    opacity: 1.0;
	}
}

.headerBox {
    animation: fade 2000ms infinite;
    -webkit-animation: fade 2000ms infinite;
}
.clock{
	width: 396px;
    height: 0;
    float: right;
    background-color: #ff000000;
    position: relative;
    left: 22px;
    top: -36px;
    color: #3992d4;
    font-size: 25px;
    font-weight: bold;
}
.pies{
	width:100%;
	height:100%;
	list-style:none;
	margin:0;
	padding:0;
}

.pies li{
	width:33%;
	height:100%;
	float:left;
	color:#658ced;
}
.alert{
	margin-bottom: 4px;
	background: -moz-linear-gradient(left,#3399ff,#3339ff00);
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(left,#3399ff,#3339ff00);
	/* Opera 11.10+ */
	background: -o-linear-gradient(left,#3399ff,#3339ff00);
 	border:none;
 	font-size:14px
}

.table{
	margin-top: 22px;
	border:1px solid #33a8ea;
}
.table>thead>tr>th {
	vertical-align: bottom;
	
	background:#062566;
	
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    color: #36b0f3;
    border:1px solid #33a8ea;
}
.spk-hr{
	margin-top:1px;
	margin-bottom:3px;
	width:100%
}
.mainfooter{
	text-align:center;
	background-color:#081639d1;
	height:55px;
	color:#f2f2f3;
	margin-top:10px;
	padding-top:10px;
	box-shadow:0px 3px 3px #2577aa inset;
	-webkit-box-shadow:0px 3px 3px #2577aa inset;
	-moz-box-shadow:0px 3px 3px #2577aa inset;
}
