<#import "/WEB-INF/ftl/fw_fn_v1_0.ftl" as fn>
<#import "/WEB-INF/ftl/module_sys.ftl" as sys>
<#import "/WEB-INF/ftl/module_cms.ftl" as cms>
<#import "/WEB-INF/ftl/module_triz.ftl" as triz>
<#import "/WEB-INF/ftl/module_szst.ftl" as szst>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>华信智</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
 <@layout.block name="css">
  <link rel="shortcut icon" href="/themes/admin/login/icon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/font-awesome4.7.0/font-awesome.css">
  <link rel="stylesheet" href="/assets/icons/css/ionicons.min.css">
  <link rel="stylesheet" href="/assets/AdminLTE/2.4/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/assets/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/assets/morris/css/morris.css">
  <link rel="stylesheet" href="/assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <link rel="stylesheet" type="text/css" href="/themes/admin/afx/css/afx.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	</@layout.block>
	<@layout.block name="js">
	<script src="/assets/jquery/dist/jquery.min.js"></script>
	<script src="/assets/echarts/echarts.min.js"></script>
	<script src="/assets/jquery-ui/jquery-ui.min.js"></script>
	<script src="/assets/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="/assets/raphael/raphael.min.js"></script>
	<script src="/assets/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
	<script src="/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="/assets/jquery-knob/dist/jquery.knob.min.js"></script>
	<script src="/assets/moment/min/moment.min.js"></script>
	<script type="text/javascript" src="/assets/layui/layer.min.js"></script>
	<script src="/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="/assets/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="/assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
	<script src="/assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/assets/fastclick/lib/fastclick.js"></script>
	<script src="/assets/dist/js/adminlte.min.js"></script>
<!-- 	<script src="/assets/dist/js/pages/dashboard.js"></script> -->
	<script type="text/javascript" src="/themes/admin/afx/js/afx.js"></script>
	<!-- <script src="/assets/dist/js/pages/dashboard2.js"></script> -->
	<script src="/assets/dist/js/demo.js"></script>
	</@layout.block>
</head>
<body>
<@layout.block name="body"></@layout.block>
</body>
</html>
