@charset "UTF-8";
	.headerBox {
	    animation: fade 2000ms infinite;
	    -webkit-animation: fade 2000ms infinite;
	}
	@keyframes fade {
		from {
		    opacity: 1.0;
		}
		50% {
		    opacity: 0.4;
		}
		to {
		    opacity: 1.0;
		}
	}
	
	@-webkit-keyframes fade {
		from {
		    opacity: 1.0;
		}
		50% {
		    opacity: 0.6;
		}
		to {
		    opacity: 1.0;
		}
	}
	.circle{
		display:inline-block;
		border-radius:50%;
		height:60px;
		width:60px;
		text-align:center;
		line-height:53px;
		position:absolute;
		color:#FFF0FF;
		background:#07070a69;
	}
	.circle-running{
		border:5px solid #12b07b;
	}
	.circle-poweroff{
		border:5px solid #a6a5a5;
	}
	.circle-alarm{
		border:5px solid #e65a65;
	}
	.circle-waiting{
		border:5px solid #feb501;
	}
	
	.circle-manual{
		border:5px solid #feb501;
	} 