<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hxz.webapp.syscore.mapper.ManagerMapper">

	<!-- 单表查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.hxz.webapp.syscore.entity.Manager">
		<id column="id" property="id" />
		<result column="site_id" property="siteId" />
		<result column="builtin" property="builtin" />
	</resultMap>

    <!-- 单表查询结果列 -->
    <sql id="Base_Column_List">
        id, siteId
    </sql>
    

	<select id="findAll" resultType="map">
	<![CDATA[
		SELECT
			u.id,
			u.name,
			u.username,
			u.create_ip AS createIp,
			u.email,
			u.group_id AS groupId,
			u.enabled,
			u.login_time AS loginTime,
			g.name AS groupName
		FROM sys_user u
		RIGHT JOIN sys_manager a ON a.id = u.id
		LEFT JOIN sys_group g ON g.id=u.group_id
		WHERE u.trashed = 0 AND a.builtin = 0
		ORDER BY u.create_time ASC
	]]>
	</select>

</mapper>
